body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 1.42;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    color: inherit;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-weight: normal;
  }
  
  p {
    margin-top: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  /* body,
  html {
    height: 100%;
  } */
  
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .header{
    margin-bottom: -100px;
  }
  
  .header__logo{
    display: flex;
    justify-content: center;
  }

  .logo{
    width: 400px;
    height: 400px;
  }

  .section{
    display: flex;
    justify-content: center;
  }

  .main__title{
    text-align: center;
    font-size: 48px;
  }

  .main__text{
    text-align: center;
    font-size: 26px;
    padding: 25px;
  }

  .main__list{
    display: flex;
    justify-content: center;
  }

.main__item{
    margin-right: 15px;
}

.main__item:last-child{
    margin-right: 0px;
}

.main__logo{
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 980px){
  .header__logo{
    display: flex;
    justify-content: center;
    margin-top: -100px;
  }
}